<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<h1>Esta es la auditoria</h1>
<table class="table table-bordered table-striped mt-4">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>Usuario</th>
        <th>Fecha</th>
        <th>Acción</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="auditoria : ${auditorias}">
        <td th:text="${auditoria.id}">1</td>
        <td th:text="${auditoria.usuario}">Usuario Ejemplo</td>
        <td th:text="${auditoria.fecha}">2024-10-27 10:00:00</td>
        <td th:text="${auditoria.accion}">Acción Ejemplo</td>
    </tr>
    </tbody>
</table>
<a th:href="@{/evento/volver}" class="btn btn-secondary ml-2">Volver al listado</a>
</body>
</html>